<a href="https://colab.research.google.com/github/Amin-Lotfian/Python-project-excercises-and-projects/blob/main/10_cleaning_copy_sample_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install datasets Library (if not already installed)
!pip install datasets

# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  # we will use this for plotting

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
median_salary_year = df['salary_year_avg'].median()
median_salary_hour = df['salary_hour_avg'].median()

In [ ]:
df_filled = df

In [ ]:
id(df_filled) == id(df)

True

In [ ]:
df_filled = df.copy()

In [ ]:
df_filled ['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled ['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [ ]:
df_unique = df_filled.drop_duplicates()
df_unique

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,115000.0,45.98,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,115000.0,45.98,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,115000.0,45.98,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,115000.0,45.98,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,115000.0,45.98,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,115000.0,45.98,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,115000.0,45.98,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,115000.0,45.98,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,115000.0,45.98,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,115000.0,45.98,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [ ]:
id(df_unique) == id(df_filled)

False

In [ ]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name', 'job_location'])
df_unique

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,115000.0,45.98,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,115000.0,45.98,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,115000.0,45.98,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,115000.0,45.98,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,115000.0,45.98,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,115000.0,45.98,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,115000.0,45.98,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,115000.0,45.98,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,115000.0,45.98,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,115000.0,45.98,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

# SAMPLING

In [ ]:
df.sample(frac=0.001)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
780051,Senior Data Scientist,Sr Data Scientist ML Ops Engineering TMI,"Houston, TX",via Trabajo.org,Full-time,False,Sudan,2023-09-04 06:07:47,False,False,Sudan,None,115000.0,45.98,University of Texas M.D. Anderson Cancer Center,None,None
291976,Data Engineer,Azure Data Engineer (Databricks),"SÃ£o Paulo, State of SÃ£o Paulo, Brazil",via Cognizant Careers,Full-time,False,Brazil,2023-08-29 17:59:06,True,False,Brazil,None,115000.0,45.98,Cognizant Technology Solutions,"['azure', 'databricks', 'sap', 'git']","{'analyst_tools': ['sap'], 'cloud': ['azure', ..."
750046,Senior Data Analyst,Senior BI & Data Analyst,Anywhere,via LinkedIn,Full-time,True,"Illinois, United States",2023-07-14 20:02:03,True,True,United States,None,115000.0,45.98,HALO Branded Solutions,"['sql', 'visual basic', 'vba', 'r', 'python', ...","{'analyst_tools': ['tableau', 'ms access', 'ex..."
266632,Software Engineer,Software Development Engineer,"Buenos Aires, Argentina",via BeBee,Full-time,False,Argentina,2023-10-15 07:46:34,False,False,Argentina,None,115000.0,45.98,Emprego,"['java', 'sql', 'spring']","{'libraries': ['spring'], 'programming': ['jav..."
595274,Data Engineer,Data Engineer (H/F),France,via TalentDetection,Full-time,False,France,2023-06-01 10:02:04,False,False,France,None,115000.0,45.98,Axeal,"['sql', 'nosql', 'kafka', 'spark', 'hadoop', '...","{'libraries': ['kafka', 'spark', 'hadoop'], 'o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418835,Machine Learning Engineer,Junior Machine Learning Engineer (m/w/d),"Vienna, Austria",via XING,Full-time,False,Austria,2023-02-01 17:07:18,False,False,Austria,None,115000.0,45.98,Reply,"['java', 'scala', 'python']","{'programming': ['java', 'scala', 'python']}"
773162,Business Analyst,Senior Board Product Quality Engineer,"Bandar Baru Bangi, Selangor, Malaysia",via BeBee Malaysia,Full-time,False,Malaysia,2023-12-01 01:21:24,False,False,Malaysia,None,115000.0,45.98,NVIDIA,None,None
254135,Data Engineer,Data Engineer,"Amsterdam, Netherlands",via BeBee Nederland,Full-time,False,Netherlands,2023-05-12 07:54:21,True,False,Netherlands,None,115000.0,45.98,Apollo Solutions,"['python', 'java', 'golang', 'databricks', 'az...","{'cloud': ['databricks', 'azure', 'snowflake']..."
545569,Data Scientist,Data Scientist,Canada,via Trabajo.org,Full-time,False,Canada,2023-06-18 19:10:25,False,False,Canada,None,115000.0,45.98,Meridian,"['python', 'java', 'sql', 'sas', 'sas', 'r', '...","{'analyst_tools': ['sas'], 'programming': ['py..."
174929,Software Engineer,Staff Scala Engineer/Architect,Romania,via Trabajo.org,Full-time,False,Romania,2023-08-30 15:19:02,False,False,Romania,None,115000.0,45.98,Signify Technology,"['scala', 'aws', 'kafka', 'kubernetes']","{'cloud': ['aws'], 'libraries': ['kafka'], 'ot..."

In [ ]:
df.sample(n=100)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
619710,Data Analyst,Financial Data Analyst,Anywhere,via LinkedIn,None,True,Philippines,2023-09-19 04:57:53,True,False,Philippines,None,115000.0,45.98,MultiplyMii,['excel'],{'analyst_tools': ['excel']}
212615,Data Engineer,Data Engineer â Lead,"Mexico City, CDMX, Mexico",via Ai-Jobs.net,Full-time,False,Mexico,2023-01-20 23:04:31,False,False,Mexico,year,249000.0,45.98,Metyis,"['r', 'python', 'java', 'sql', 'bash', 'azure'...","{'cloud': ['azure', 'databricks', 'aws'], 'lib..."
452859,Business Analyst,Senior Business Intelligence Analyst,"Augusta, GA",via Trabajo.org,Full-time,False,Georgia,2023-11-04 15:10:12,False,False,United States,None,115000.0,45.98,Highmark Health,None,None
513882,Data Analyst,Forensic Officer â Analytics and Investigations,"Harare, Zimbabwe",via Vacancy Mail,Full-time,False,Zimbabwe,2023-07-03 11:32:16,True,False,Zimbabwe,None,115000.0,45.98,CIMAS,None,None
654458,Senior Data Analyst,Senior Data Analyst - Machine Learning,"Centurion, South Africa",via LinkedIn,Full-time,False,South Africa,2023-02-24 10:45:23,False,False,South Africa,None,115000.0,45.98,IQVIA,"['sql', 'python', 'alteryx']","{'analyst_tools': ['alteryx'], 'programming': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747468,Data Engineer,Data Engineer,"Hyderabad, Telangana, India",via Trabajo.org,Full-time,False,India,2023-08-05 20:48:48,False,False,India,None,115000.0,45.98,Randstad,"['java', 'scala', 'python', 'sql', 'bigquery',...","{'cloud': ['bigquery', 'aws', 'redshift'], 'li..."
491571,Senior Data Engineer,Senior big data engineer,"Pune, Maharashtra, India",via Indeed,Full-time,False,India,2023-01-20 11:36:57,False,False,India,None,115000.0,45.98,Barclays,"['sql', 'aws', 'azure', 'hadoop', 'spark', 'fl...","{'cloud': ['aws', 'azure'], 'libraries': ['had..."
467544,Data Analyst,IT System / Data Analyst,"WrocÅaw, Poland",via LinkedIn,Full-time,False,Poland,2023-09-21 14:26:34,True,False,Poland,None,115000.0,45.98,Rite NRG,"['excel', 'smartsheet']","{'analyst_tools': ['excel'], 'async': ['smarts..."
485756,Data Analyst,"Senior Executive, Business Data Analyst",Singapore,via BeBee Singapore,Full-time,False,Singapore,2023-12-08 14:32:44,False,False,Singapore,None,115000.0,45.98,Sony Electronics,"['excel', 'powerpoint']","{'analyst_tools': ['excel', 'powerpoint']}"
101092,Data Engineer,Data Engineering,"Lisbon, Portugal",via Recruit.net,Full-time,False,Portugal,2023-02-03 00:20:46,False,False,Portugal,None,115000.0,45.98,Indie Campers,"['sql', 'redshift', 'phoenix', 'excel', 'table...","{'analyst_tools': ['excel', 'tableau', 'power ..."