<a href="https://colab.research.google.com/github/Amin-Lotfian/Python-project-excercises-and-projects/blob/main/12_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Libraries
!pip install datasets
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
df.index

RangeIndex(start=0, stop=785741, step=1)

In [ ]:
df.index.name = 'job_index'
df.index.name

'job_index'

In [ ]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [ ]:
df.index.dtype

dtype('int64')

df_ireland = df[df['job_country'] == 'Ireland']
print(id(df_ireland))
print(id(df))

In [ ]:
df_ireland.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
33,Data Engineer,Data Engineer,"County Westmeath, Ireland",via Indeed,Full-time,False,Ireland,2023-06-26 13:54:47,False,False,Ireland,None,NaN,NaN,Eolas Recruitment,"['sql', 'python', 'r', 'azure', 'databricks', ...","{'cloud': ['azure', 'databricks'], 'libraries'..."
56,Senior Data Scientist,Principal Statistical Scientist,Anywhere,via LinkedIn,Full-time,True,Ireland,2023-01-31 13:54:44,False,False,Ireland,None,NaN,NaN,Thermo Fisher Scientific,None,None
63,Data Engineer,Full Stack Data Engineer,"Limerick, Ireland",via Trabajo.org,Full-time,False,Ireland,2023-02-12 13:53:18,True,False,Ireland,None,NaN,NaN,Qptech Ltd,"['sql', 'mongodb', 'mongodb', 'python', 'dynam...","{'cloud': ['azure', 'aws'], 'databases': ['mon..."
306,Senior Data Engineer,Senior Data Engineer - Dublin - Permanent - Hy...,"Dublin, Ireland","via SimplyHired, Ireland",Full-time,False,Ireland,2023-09-25 13:52:23,False,False,Ireland,None,NaN,NaN,Eolas Recruitment,"['python', 'aws', 'pyspark', 'hadoop', 'spark'...","{'cloud': ['aws'], 'libraries': ['pyspark', 'h..."
369,Data Analyst,Principal Data Analyst,"Dublin, Ireland",via Trabajo.org,Full-time,False,Ireland,2023-07-27 13:42:52,True,False,Ireland,None,NaN,NaN,Optum Global Advantage,"['sql', 'powershell', 'go', 'sql server', 'mys...","{'cloud': ['azure', 'databricks', 'aws', 'gcp'..."

In [ ]:
df_ireland.reset_index(inplace=True)
df_ireland.head()

,job_index,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,33,Data Engineer,Data Engineer,"County Westmeath, Ireland",via Indeed,Full-time,False,Ireland,2023-06-26 13:54:47,False,False,Ireland,None,NaN,NaN,Eolas Recruitment,"['sql', 'python', 'r', 'azure', 'databricks', ...","{'cloud': ['azure', 'databricks'], 'libraries'..."
1,56,Senior Data Scientist,Principal Statistical Scientist,Anywhere,via LinkedIn,Full-time,True,Ireland,2023-01-31 13:54:44,False,False,Ireland,None,NaN,NaN,Thermo Fisher Scientific,None,None
2,63,Data Engineer,Full Stack Data Engineer,"Limerick, Ireland",via Trabajo.org,Full-time,False,Ireland,2023-02-12 13:53:18,True,False,Ireland,None,NaN,NaN,Qptech Ltd,"['sql', 'mongodb', 'mongodb', 'python', 'dynam...","{'cloud': ['azure', 'aws'], 'databases': ['mon..."
3,306,Senior Data Engineer,Senior Data Engineer - Dublin - Permanent - Hy...,"Dublin, Ireland","via SimplyHired, Ireland",Full-time,False,Ireland,2023-09-25 13:52:23,False,False,Ireland,None,NaN,NaN,Eolas Recruitment,"['python', 'aws', 'pyspark', 'hadoop', 'spark'...","{'cloud': ['aws'], 'libraries': ['pyspark', 'h..."
4,369,Data Analyst,Principal Data Analyst,"Dublin, Ireland",via Trabajo.org,Full-time,False,Ireland,2023-07-27 13:42:52,True,False,Ireland,None,NaN,NaN,Optum Global Advantage,"['sql', 'powershell', 'go', 'sql server', 'mys...","{'cloud': ['azure', 'databricks', 'aws', 'gcp'..."

In [ ]:
df_ireland.set_index('job_location', inplace=True)
df_ireland.head()

,job_index,job_title_short,job_title,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_location,,,,,,,,,,,,,,,,,
"County Westmeath, Ireland",33,Data Engineer,Data Engineer,via Indeed,Full-time,False,Ireland,2023-06-26 13:54:47,False,False,Ireland,None,NaN,NaN,Eolas Recruitment,"['sql', 'python', 'r', 'azure', 'databricks', ...","{'cloud': ['azure', 'databricks'], 'libraries'..."
Anywhere,56,Senior Data Scientist,Principal Statistical Scientist,via LinkedIn,Full-time,True,Ireland,2023-01-31 13:54:44,False,False,Ireland,None,NaN,NaN,Thermo Fisher Scientific,None,None
"Limerick, Ireland",63,Data Engineer,Full Stack Data Engineer,via Trabajo.org,Full-time,False,Ireland,2023-02-12 13:53:18,True,False,Ireland,None,NaN,NaN,Qptech Ltd,"['sql', 'mongodb', 'mongodb', 'python', 'dynam...","{'cloud': ['azure', 'aws'], 'databases': ['mon..."
"Dublin, Ireland",306,Senior Data Engineer,Senior Data Engineer - Dublin - Permanent - Hy...,"via SimplyHired, Ireland",Full-time,False,Ireland,2023-09-25 13:52:23,False,False,Ireland,None,NaN,NaN,Eolas Recruitment,"['python', 'aws', 'pyspark', 'hadoop', 'spark'...","{'cloud': ['aws'], 'libraries': ['pyspark', 'h..."
"Dublin, Ireland",369,Data Analyst,Principal Data Analyst,via Trabajo.org,Full-time,False,Ireland,2023-07-27 13:42:52,True,False,Ireland,None,NaN,NaN,Optum Global Advantage,"['sql', 'powershell', 'go', 'sql server', 'mys...","{'cloud': ['azure', 'databricks', 'aws', 'gcp'..."

In [ ]:
df_ireland.sort_index(inplace=True)
df_ireland.head()

<ipython-input-11-69deb2a320e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ireland.sort_index(inplace=True)

,job_index,job_title_short,job_title,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_location,,,,,,,,,,,,,,,,,
Anywhere,380919,Data Engineer,Database Engineer (SQL/NoSQL) - Contract,via LinkedIn,Contractor,True,Ireland,2023-03-18 18:22:19,False,False,Ireland,None,NaN,NaN,IT Search and Selection,"['nosql', 'sql', 'mongodb', 'mongodb', 'redis']","{'databases': ['mongodb', 'redis'], 'programmi..."
Anywhere,541700,Data Scientist,Data Scientist / AI Engineer / AI Data Enginee...,via LinkedIn,Contractor,True,Ireland,2023-10-11 19:19:59,False,False,Ireland,None,NaN,NaN,Smartedge Solutions,"['sql', 'python', 'scala', 'typescript', 'java...","{'analyst_tools': ['sas', 'datarobot', 'splunk..."
Anywhere,70641,Business Analyst,Operations Analyst,via Jobs.ie,Full-time,True,Ireland,2023-06-27 06:54:34,False,False,Ireland,None,NaN,NaN,Cornmarket Group Financial Services Ltd,['excel'],{'analyst_tools': ['excel']}
Anywhere,541483,Senior Data Engineer,Senior Data Infra Engineer II (Remote /Ireland),via LinkedIn,Full-time,True,Ireland,2023-09-28 20:08:46,False,False,Ireland,None,NaN,NaN,HubSpot,"['java', 'mysql', 'elasticsearch', 'aws', 'had...","{'cloud': ['aws'], 'databases': ['mysql', 'ela..."
Anywhere,237629,Data Engineer,Data Engineer,via CV-Library,Contractor,True,Ireland,2023-06-17 07:37:28,True,False,Ireland,None,NaN,NaN,Reperio Human Capital,"['sql', 'sql server', 'oracle', 'aws', 'ssis',...","{'analyst_tools': ['ssis', 'ssrs'], 'cloud': [..."